* {
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
}

body {
	background-color: #f0f0f0;
}

.card {
	display: flex;
	background-color: white;
	width: 90vw;
	height: 500px;
	margin: 100px auto;
}

.card-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding-left: 40px;
	width: 50%;
	font-size: 32px;
	font-weight: 300;
	color: hsl(240, 38%, 20%);
	outline: 1px solid red;
}

.card-text small {
	font-weight: 700;
	font-size: 18px;
}

.card-text small span {
	font-weight: 500;
	font-size: 12px;
	color: hsl(240, 18%, 77%);
}

.card-image {
	width: 50%;
	outline: 1px solid blue;
	background-image: url('/images/pattern-bg.svg');
	background-repeat: no-repeat;
	background-size: contain;
}

.profile-image {
	height: 100%;
	padding: 60px;
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
